<!DOCTYPE html>
<html lang="en">
{{ $options := (dict "outputStyle" "compressed") }}
{{ $sass := resources.Get "css/site.sass" }}
{{ if $.Site.Params.postcss }}
{{ .Scratch.Set "sass" ($sass | resources.ToCSS $options | postCSS | resources.Minify | resources.Fingerprint "sha512") }}
{{ else }}
{{ .Scratch.Set "sass" ($sass | resources.ToCSS $options | resources.Minify | resources.Fingerprint "sha512") }}
{{ end }}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if (eq .Page.Kind "taxonomy") }}
    Posts tagged with
    {{ end }}
    {{ .Title }}
    {{ if (and $.Site.Params.includeAuthorInTitle (in (slice "page" "taxonomy") .Page.Kind)) }} | {{ $.Site.Params.author }} {{ end }}
  </title>
  <link rel="stylesheet" href='{{ (.Scratch.Get "sass").Permalink }}' integrity='{{ (.Scratch.Get "sass").Data.Integrity }}'>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ with $.Site.Home.OutputFormats.Get "rss" -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
  {{ end -}}

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="referrer" content="no-referrer">
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

  {{ template "_internal/opengraph.html" . }}
</head>
<body>
  {{- block "header" . }}
    {{- partial "header.html" . -}}
  {{- end }}
  <section>
    <section class='hero is-small is-{{ default "info" $.Site.Params.hero_colour }} is-fullwidth'>
      <div class="hero-body">
        {{- block "hero-body" . }}{{- end }}
      </div>
    </section>
    <section class="section">
      <div class="container">
        {{- block "main" . }}{{- end }}
      </div>
    </section>
  </section>
  {{- partial "footer.html" . -}}
</body>
</html>
