{{ define "main" }}
{{ range .Pages }}
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <a href="{{.Permalink }}" class="title is-size-5"><strong>{{ .Title }}</strong></a>
          {{ with .Params.Author }} <small>@ {{ delimit . ", " }}</small>{{ end }}
          <br>
          {{.Description}}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          {{- partial "item-icons.html" . -}}
        </div>
      </nav>
    </div>
    {{ $img := lower (print .File.BaseFileName ".png") }}
    {{ if (fileExists (print "static/logos/" $img)) }}
      <div class="media-right">
        <a href="{{.Permalink }}">
          <figure class="image is-96x96">
            <img src="{{ .Site.BaseURL }}/logos/{{ $img }}" alt="{{ .Title }}">
          </figure>
        </a>
      </div>
    {{ end }}
  </article>
</div>
{{ end }}
{{ end }}
