{{ $options := (dict "outputStyle" "compressed") }}
{{ $sass := resources.Get "css/site.sass" }}
{{ if $.Site.Params.postcss }}
{{ .Scratch.Set "sass" ($sass | resources.ToCSS $options | postCSS | resources.Minify | resources.Fingerprint "sha512") }}
{{ else }}
{{ .Scratch.Set "sass" ($sass | resources.ToCSS $options | resources.Minify | resources.Fingerprint "sha512") }}
{{ end }}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if (eq .Page.Kind "taxonomy") }}
    Posts tagged with
    {{ end }}
    {{ .Title }}
    {{ if (and $.Site.Params.includeAuthorInTitle (in (slice "page" "taxonomy") .Page.Kind)) }} | {{ $.Site.Params.author }} {{ end }}
  </title>
  <link rel="stylesheet" href='{{ (.Scratch.Get "sass").Permalink }}' integrity='{{ (.Scratch.Get "sass").Data.Integrity }}'>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ with $.Site.Home.OutputFormats.Get "rss" -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
  {{ end -}}
  {{ partial "meta.html" . }}
</head>
