<nav class="navbar is-transparent {{ if .Page.IsHome }}is-hidden-touch{{end}}" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ $.Site.Home.Permalink }}">
      <figure class="image">
        <img alt="" title="{{ $.Site.Title }}" src="{{ $.Site.BaseURL }}/img/logo.svg">
      </figure>
    </a>
    <a class="navbar-item" href="{{ $.Site.Home.Permalink }}">
      {{ $.Site.Title }}
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      {{ range $.Site.Menus.main }}
      <a class="navbar-item" href="{{ .URL }}">
        {{ .Name }}
      </a>
      {{ end }}
      <span class="navbar-item"></span>
      {{ range $.Site.Params.social }}
      <a class="navbar-item" href="{{ .url }}" rel="noopener" target="_blank">
        <span class="icon">
          {{ with (resources.Get (printf  "icons/svg/%s.svg" .icon))}}
            <img alt="{{ . }}" src='{{ .Permalink }}'>
          {{ else }}
            {{errorf "Icon %v does not exist in the template directory. View that directory for all icons you can use" (printf  "icons/svg/%s.svg" .icon)}}
          {{end}}
        </span>
      </a>
      {{ end }}
      {{ with $.Site.Home.OutputFormats.Get "rss" -}}
      <a class="navbar-item" href="{{ .Permalink }}" target="_blank">
        <span class="icon">
          <img alt="rss" src='{{ (resources.Get "icons/svg/rss.svg").Permalink }}'>
        </span>
      </a>
      {{ end }}
    </div>
  </div>
</nav>
