<nav class="navbar is-transparent {{ if .Page.IsHome }}is-hidden-touch{{end}}" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ $.Site.Home.Permalink }}">
      <figure class="image">
        <img alt="" class="is-rounded" src="https://www.gravatar.com/avatar/{{ md5 $.Site.Params.email }}?s=128&d=identicon">
      </figure>
    </a>
    <a class="navbar-item" href="{{ $.Site.Home.Permalink }}">
      {{ $.Site.Title }}
    </a>
  </div>
  
  <div class="navbar-menu">
    <div class="navbar-start">
      {{ range .Site.Taxonomies.tags }}
      <a class="navbar-item" href="{{ .Page.Permalink }}">
        {{ if (eq .Page.Title (upper .Page.Title )) }}
        {{ .Page.Title  }}
        {{ else }}
        {{ .Page.Title | humanize }}
        {{ end }}
      </a>
      {{ end }}
    </div>
    
    <div class="navbar-end">
      {{ range $.Site.Params.social }}
      <a class="navbar-item" href="{{ .url }}" rel="noopener" target="_blank">
        <span class="icon">
          {{ with (resources.Get (printf  "icons/svg/%s.svg" .icon))}}
            <img alt="{{ . }}" src='{{ .Permalink }}'>
          {{ else }}
            {{errorf "Icon %v does not exist in the template directory. View that directory for all icons you can use" (printf  "icons/svg/%s.svg" .icon)}}
          {{end}}
        </span>
      </a>
      {{ end }}
      {{ with $.Site.Params.email }}
      <a class="navbar-item" href="mailto:{{ . }}" target="_blank">
        <span class="icon">
          <img alt="email" src='{{ (resources.Get "icons/svg/email.svg").Permalink }}'>
        </span>
      </a>
      {{ end }}
      {{ with $.Site.Home.OutputFormats.Get "rss" -}}
      <a class="navbar-item" href="{{ .Permalink }}" target="_blank">
        <span class="icon">
          <img alt="rss" src='{{ (resources.Get "icons/svg/rss.svg").Permalink }}'>
        </span>
      </a>
      {{ end }}
    </div>
  </div>
</nav>
